<h1>Welcome to Assemblage</h1>
<h2>Please fill the following from to join;</h2>

<form action="/users/new" method="POST">
  <input type="text" name="[user][username]" placeholder="username">
  <input type="password" name="[user][password]" placeholder="password">
  <input type="email" name="[user][email]" placeholder="email">
  <input type="text" name="[user][name]" placeholder="full name">
  <input type="submit" value="Join">
</form>

